.brands:hover {
    color: #ca96a6 ;
}

.register:hover {
    opacity: 0.5;
}

.nav-item .nav-link:hover {
    color:  #af915f;
}

.navbar a {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 2px;
    color: #3e3536 !important;
}

.navbar a:hover {
    color: #cccccc !important;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
}

.nav-bg {
    height: 100px;
    background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(46, 46, 46, 0.7)), url('/images/bg-service.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-instagram:hover , .fa-youtube:hover, .tel:hover{
    color: rgb(248, 96, 96);
}

.fa-facebook-f:hover , .fa-twitter:hover , .fa-linkedin-in:hover{
    color: rgb(6, 144, 199);
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
.dropdown-toggle::after {
    content: none !important;
}

.dropdown-services {
    position: absolute;
}