.service-border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#cara {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeded;
}

#cara .cara-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#cara span {
    color: #af915f;
}

#cara p {
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
}

.testimonial {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url("/images/11.jpg");
    background-repeat: no-repeat;
    height: 470px;
    background-size: cover;
}

.testimonial .card {
    background-color: none;
    opacity: 0.9;
}

.spacer {
    border: none;
    height: 1px;
    width: 80%;
    background-color: rgb(221, 221, 221);
}
@media only screen and (max-width: 991px) {
    .btn {
        margin-bottom: 30px;
    }
}

.cara-bgimage {
    width: 100%;
    height: 500px;
    background: url("/images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cara-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(106, 106, 106);
}

.cara-head {
    text-transform: uppercase;
    font-family: "Quicksand";

    &::before {
        background-image: url("/public/images/icons/heart.svg");
        background-size: 50px 50px;
        display: block;
        width: 50px;
        height: 50px;
    }
}

.cara-text button {
    text-transform: uppercase;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.cara-text button:hover {
    background-color: rgb(43, 42, 42);
    color: #fff;
}

@media only screen and (max-width: 700px) {
    .cara-text {
        top: 60%;
    }
}

@media only screen and (max-width: 400px) {
    .top-padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.button-grad {
    color: white;
    border-radius: 20px;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    padding: 8px 48px 8px 48px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: rgb(19, 206, 156);
        border: 2px solid rgb(0, 255, 200);
        background-image: none;
        background-color: white;
    }
}

.back-to-top {
    position: absolute;
    top: -3px;
    right: -5px;
}

.image-animate {
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(0.96);
    }
}

input[type="text"],
input[type="number"],
input[type="password"]:focus,
[type="tel"].form-control:focus,
input[type="email"],
.input-reserve {
    color: black;

    &:focus {
        border-color: #38c172;
    }
}

input {
    background-color: #e6eaed;
}

.custom-control-label:before {
    background-color: red;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #38c172;
}
