.xdsoft_datetimepicker.xdsoft_inline {
    width: 100%;
    border-color: #333;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
    margin-right: 8px;
    width: 98% !important;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    color: #333 !important;
}

.table td {
    padding: 0.3rem;
    padding-left: 10px;
}
