.inpFile {
    border: 1px solid grey;

    &:hover {
        color: rgb(19, 206, 156);
        border: 2px solid rgb(0, 255, 200);
    }
}

.list-unstyled {
    a {
        text-decoration: none;
        color: #9e9e9e;
    }

    a:hover {
        color: #313131;
    }
}
