.inpFile {
    border: 1px solid grey;

    &:hover {
        border-color: brown;
    }
}

.list-unstyled {
    a {
        text-decoration: none;
        color: #9E9E9E;
    }

    a:hover {
        color: #313131;
    }
}