* {
    font-family: "Quicksand", sans-serif;
}

.panel.widget .dimmer {
    background: none !important;
}

.panel-content {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.panel-content .icon-voy .voyager-people {
    margin-top: 15px;
    /* background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important; */
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
    font-size: 60px;
    position: relative !important;
}

.panel-content .icon-voy .voyager-receipt {
    margin-top: 15px;
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
    font-size: 55px;
    position: relative !important;
}

.panel-content .icon-voy .voyager-bag {
    margin-top: 15px;
    /* background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; */
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
    font-size: 60px;
    position: relative !important;
}

.panel-content .icon-voy .voyager-people:before {
    position: absolute !important;
    top: 8px !important;
    left: 10px !important;
}

.panel-content .icon-voy .voyager-bag:before {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
}

.panel-content .icon-voy .voyager-receipt:before {
    position: absolute !important;
    top: 12px !important;
    left: 9px !important;
}

.panel-content .icon-voy {
    position: relative !important;
}

.panel-content .icon-voy a {
    cursor: pointer;
}

.panel-content .icon-voy i {
    width: 80px;
    height: 80px;
}

.panel.widget.center .text-voy {
    text-align: left;
}

.panel.widget.center .text-voy p {
    margin-bottom: 20px;
    color: black;
}

.panel.widget.center .text-voy h4,
a {
    color: #2a363b;
    margin-top: 3px;
}

.panel.widget.center .text-voy h1,
a {
    color: #2a363b;
    margin-top: 3px;
}

.panel.widget.bgimage {
    padding: 20px;
    padding-left: 10px;
}

.voyager .side-menu .navbar-header {
    background-color: #2a363b;
}

/* recent reservation */

.recent-reservation {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
}

.recent-reservation h4, .recent-reservation th {
    color: black !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(40, 255, 112, 0.15) !important;
}

.panel-body h3, .panel-body h2 {
    color: #000 !important;
}

.recent-reservation-no {
    background-color: rgb(247, 84, 84);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.recent-reservation-ok {
    background-color: rgb(58, 190, 113);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.services-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.services-row .col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
    width: 33.33333333%;
    color: #2a363b;
    margin: 20px 0;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    overflow-x: hidden !important;
}

@media screen and (max-width:720px) {
    .services-row .col-md-4 {
        width: 100%;
    }
}

.container-fluid {
    background-color: #f0f0f0 !important;
}

#dataTable td > span, #dataTable td div, #dataTable td > p {
    color: #2a363b !important;
}

 #dataTable td > .label-info, #dataTable td > .label-primary, #dataTable td > .recent-reservation-ok, #dataTable td > .recent-reservation-no {
     color: #f0f0f0 !important;
 }

.edit-reserve .toggle-group .btn.btn-default {
     padding-left: 15px !important;
 }

 .edit-reserve .btn-primary{
    background-color: #2ec985 !important;
 }

 canvas{
  height: 451px !important;
}

.fc-list-event-title, .fc-list-event-time {
    color: #2a363b !important;
}